{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                <div class="entry">
                  <h3>Title</h3>
                  <p>{{ entry.title }}<p>
                </div>
                <div class="entry">
                  <h3>Date</h3>
                  <p><time datetime="{{ entry.timestamp.strftime('%Y-%m-%d') }}">
{{ entry.timestamp.strftime('%Y-%m-%d') }}</time></p>
                </div>
                <div class="entry">
                    <h3>Time Spent </h3>
                    <p>{{ entry.time_spent }}</p>
                </div>
                <div class="entry">
                    <h3>What I Learned</h3>
                    <p>{{ entry.content }}</p>
                </div>
                <div class="entry">
                    <h3>Resources to Remember</h3>
                    <ul>
                        {% for resource in entry.resources.split('\n') %}
                        <li>{{ resource }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="edit">
                    <p><a href="{{ url_for('edit', slug=entry.slug) }}">Edit Entry</a></p>
                </div>
                <div class="edit">
                    <p><a href="{{ url_for('delete', slug=entry.slug) }}">Delete Entry</a></p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
