{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
                <article>
                    <h2><a href="{{ url_for('details', slug=entry.slug) }}">{{ entry.title }}</a></h2>
                    <time datetime="{{ entry.timestamp.strftime('%Y-%m-%d') }}">{{ entry.timestamp.strftime('%Y-%m-%d') }}</time>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
